body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #e3f2f8;
  align-items: center;
}

header {
  background-color: #07395f;
  color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

nav {
  background-color: #2c5282;
  padding: 15px;
  margin: 25px 0;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #e3f2f8;
  font-weight: bold;
  margin: 40px;
}

img {
  width: 70%;
  display: block;
  margin: 15px auto;
  border-radius: 15px;
}

.conteudo {
  background-color: #ffffff;
  padding: 15px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #0000001a;
  margin: 20px 0;
  text-align: justify;
}

.citacao {
  text-align: center;
}

h2,
h3 {
  color: #2c5282;
}
